.about-us-wrapper {
  margin: 3em 2em;

  @media only screen and (max-width: 1024px) {
    margin: 3em 1em 0 1em;
  }
}

.about-us-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2em;

  @media only screen and (max-width: 1070px) {
    grid-template-columns: none;
    margin: 0;
  }
}

.about-us-title {
  position: relative;
  margin-bottom: 1em;
}

.about-us-title::after {
  content: "";
  position: absolute;
  width: 7%;
  height: 1px;
  bottom: -50%;
  left: 0;
  border-bottom: 7px solid var(--yellow-300);
}

.about-us-image Img {
  @media only screen and (max-width: 870px) {
    width: 50%;
    height: 50%;
    justify-content: center;
  }
}

.about-us-cards {
  margin-left: 2em;
  justify-content: end;

  @media only screen and (max-width: 1200px) {
    justify-self: center;
    padding-top: 0.5em;
    margin-left: 0;
  }
}
