:root {
  --blue-500: rgb(28, 70, 136);
  --purple-300: rgb(142, 124, 195);
  --green-300: rgb(3, 181, 170);
  --orange-300: rgb(255, 131, 96);
  --pink-300: rgb(153, 36, 118);
  --red-500: rgb(136, 60, 88);
  --grey-100: rgb(194, 192, 192);
  --grey-300: rgb(133, 129, 130);
  --grey-500: rgb(97, 95, 95);
  --yellow-300: rgb(255, 186, 73);
}
