.engage-wrapper {
  margin: 3em 2em;

  @media only screen and (max-width: 1024px) {
    margin: 1em;
  }
}

.engage-title {
  position: relative;
  margin-bottom: 1em;
}

.engage-title::after {
  content: "";
  position: absolute;
  width: 7%;
  height: 1px;
  bottom: -50%;
  left: 0;
  border-bottom: 7px solid var(--yellow-300);
}

.engage-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em;

  @media only screen and (max-width: 1090px) {
    grid-template-columns: none;
    margin: 0;
  }
  @media only screen and (max-width: 1300px) {
    margin: 0;
  }

  @media only screen and (min-width: 1301px) {
    .card-with-text-wrapper:nth-child(2) {
      align-self: end;
      margin-bottom: 1em;
    }
  }
}

// .engage-background {
//     top: 91%;
//     position: absolute;
//     transform: rotate(170deg);
//     background-color: #ffffff;
//     height: 70vh;
//     width: 150%;
//     left: -20%;
// }

.engage-image {
  margin-bottom: 1em;
  align-self: center;
}

.engage-cards {
  margin-left: 2em;
  justify-content: end;
  align-self: end;

  @media only screen and (max-width: 1200px) {
    justify-self: center;
    padding-top: 0.5em;
    margin-left: 0;
  }
}
