.header {
  display: grid;
  grid-template-areas: "logo nav";
}

.logo {
  padding: 1em 3em;
  grid-area: logo;
}

.navigation {
  grid-area: nav;
  text-align: right;
  font-weight: 400;
  font-size: 0.7em;
  padding: 1em 3em;

  @media screen and (min-width: 1025px) and (max-width: 1333px) {
    font-size: 0.5em;
  }

  h3 {
    display: inline-flex;
  }

  a {
    padding: 14px 16px;
    margin: 0 0.2em;
    text-decoration: none;
    color: var(--grey-300);
    transition: 0.4s;

    @media screen and (min-width: 1025px) and (max-width: 1333px) {
      padding: 14px 9px;
    }
  }

  a:hover {
    color: var(--blue-500);
  }
}

.burger {
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  font-size: 40px;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}
.burger:active {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .header {
    grid-template-areas: "logo burger" "nav nav";
    background: var(--grey-100);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .logo {
    padding: 1em 1em;
  }
  .navigation {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 30px 0 10px;
    font-size: 1em;

    a {
      color: var(--blue-500);
      transition: 0.5s;
    }
    a:hover {
      color: var(--green-300);
      transform: scale(1.1);
    }
  }
  .burger {
    display: inline-block;
    cursor: pointer;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--blue-500);
  margin: 6px 0;
  transition: 0.4s;
}

.change.bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change.bar2 {
  opacity: 0;
}

.change.bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
