.landing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6em 4em;

  @media only screen and (max-width: 870px) {
    grid-template-columns: none;
    grid-template-rows: 1fr;
    margin-top: 3em;
  }
}

.landing-text {
  align-self: center;
}

.landing-subtitle {
  @media only screen and (min-width: 870px) {
    width: 75%;
  }
}
