.landing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6em 3em;

  @media only screen and (max-width: 1024px) {
    grid-template-columns: none;
    grid-template-rows: 1fr;
    margin: 3em 1em 0 1em;
  }
}

.landing-text {
  align-self: center;
}

.landing-title {
  @media only screen and (max-width: 768px) {
    font-size: 1.7em;
  }
}

.landing-subtitle {
  @media only screen and (min-width: 870px) {
    width: 88%;
  }
}
